@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
html {
  height: 100%;
  font-size: 18px;
}

body {
  position: relative;
  height: 100%;
  font-family: "Alegreya Sans";
  font-weight: 400;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  padding-top: 2.1%;
  padding-bottom: 6%;
  height: 100vh;
  min-height: 652px;
  background: url("./../../images/hero/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.logo {
  width: 55.56px;
  height: 39.26px;
}

.menu {
  margin-left: 46px;
  margin-right: 47px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone-number__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6px;
}

.phone-number__icon-elem {
  width: 13px;
  height: 14px;
  overflow: hidden;
}

.phone-number__text {
  font-size: 22px;
  font-weight: bold;
}

.hero__title-section {
  width: 53%;
  margin-top: 7%;
  margin-bottom: 18px;
}

.hero__main-title {
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 58px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero__title-description {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 21px;
}

.button {
  padding: 21px 41px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  border-radius: 100px;
  background: #FEDB3F;
  border-style: none;
  min-width: 156px;
  min-height: 60px;
}
.button:last-child {
  margin-right: 0;
}

.button__clear {
  background: none;
  border: none;
  color: #fff;
}

.hero__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.hero__icons:last-child {
  margin-right: 0;
}

.hero__icon {
  width: 41px;
  height: 41px;
  overflow: hidden;
  margin-right: 11px;
}

.hero__icon-description {
  width: 90px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5.7%;
  padding-bottom: 5.7%;
  height: 100vh;
  min-height: 652px;
}

.section__title {
  margin-bottom: 31px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.headline {
  margin-bottom: 49px;
  text-align: center;
}

.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  margin-left: auto;
  margin-right: auto;
  width: 46%;
  line-height: 22px;
  color: #666666;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 26px;
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item:before {
  content: url("./../../../images/why/points.svg");
  position: absolute;
  width: 67px;
  height: 21px;
  top: 56px;
  right: -60px;
}

.benefit {
  text-align: center;
}

.benefit__image {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 700;
}

.benefit__description {
  font-weight: 300;
  color: #666666;
}

.why {
  padding-top: 9.5%;
}

.reviews__display {
  padding: 42px;
  margin-bottom: 15px;
  background-color: #F8FAF9;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 38px;
  padding: 32px 100px 0 0;
}

.reviews__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 14px;
}

.reviews__text {
  margin-bottom: 28px;
  line-height: 21.6px;
  color: #666666;
}

.reviews__author {
  font-weight: 500;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  margin: 0 3px;
}

.interractive-avatar {
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
}
.interractive-avatar--active {
  border: 6px solid #FEDB3F;
}

.interractive-avatar__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.interractive-avatar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-form {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 43, 43, 0.6))), url("./../../../images/order-form/cd318b28c9ca7b595ef1ba2ba8ffdac9.png") 50%/cover no-repeat;
  background: linear-gradient(rgba(43, 43, 43, 0.6)), url("./../../../images/order-form/cd318b28c9ca7b595ef1ba2ba8ffdac9.png") 50%/cover no-repeat;
}

.order-form__title {
  margin-bottom: 64px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 14px;
}
.form__column:last-child {
  margin-right: 0;
}

.form__column-add-info {
  padding-left: 10px;
}

.form__cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 13px;
  min-height: 80px;
}
.form__cell:last-child {
  margin-right: 0;
}

.form__input {
  padding-left: 14px;
  width: 100%;
  height: 58px;
  line-height: 58px;
  font-family: "Open Sans";
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.form__textarea {
  border: 1px solid #fff;
  border-radius: 5px;
}

.payment-box {
  margin-top: 35px;
  margin-bottom: 42px;
}

.payment-box__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}
.payment-box__row:last-child {
  margin-bottom: 0;
}

.payment-box__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
}
.payment-box__column:last-child {
  margin-right: 0;
}

.payment-box__label {
  line-height: 28px;
}

.payment-box__radio-hide {
  display: none;
}

.payment-box__radio-visible {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.payment-box__radio-visible:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FEDB3F;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.payment-box__radio-visible:last-child {
  margin-right: 0;
}

.payment-box__check-visible {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 15%;
  background: #fff;
  margin-right: 10px;
}
.payment-box__check-visible:last-child {
  margin-right: 0;
}

.payment-box__check-img {
  position: absolute;
  width: 10px;
  height: 8px;
  top: 8px;
  left: 8px;
}

.form__button-container {
  display: inline-block;
}

.fixed-menu {
  position: fixed;
  top: 32.7%;
  right: 4.2%;
}

.fixed-menu__list li {
  list-style-type: none;
}

.fixed-menu__point {
  margin-bottom: 5px;
}
.fixed-menu__point--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__point:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.fixed-menu__link:before {
  position: absolute;
  display: block;
  top: 28%;
  left: 28%;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}