.hero {
    margin-top: 0;
    padding-left: $mainMargin;
    box-sizing: border-box;
    padding-bottom: 33px;
    width: 100vw;
    background-image: url('./../../images/hero/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}