.hero__icons-container {
    display: flex;
    margin-bottom: 16px;
    width: 486px;
    height: 41px;
    justify-content: space-between;
    //border: 1px solid #fff;
}

.hero__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 142px;
    height: 41px;
    //border: 1px solid #fff;
}

.hero__icon {
    width: 41px;
    height: 41px;
    overflow: hidden;
    //border: 1px solid #fff;

}

.hero__icon-description {
    width: 90px;
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    //border: 1px solid #fff;

}