.fixed-menu {
    position: fixed;
    top: 33.5%;
    right: 2.8%;
}

.fixed-menu__list {
    li {
        list-style-type: none;
    }
}

.fixed-menu__point {
    margin-bottom: 4px;

    &--active {
        .fixed-menu__link {
            border-color: #fff;
        }
    }
}

.fixed-menu__link {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid transparent;

    &:before {
        position: absolute;
        display: block;
        top: 30%;
        left: 30%;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
    }
}