.benefits {
    display: flex;
}

.benefits__item {

    position: relative;
    flex: 1;
    margin: 0 26px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
        
        &::before {
            display: none;
        }
    }   

    &:before {
        content: url('./../../../images/why/points.svg');
        position: absolute;
        width: 67px;
        height: 21px;
        top: 56px;
        right: -60px;
    }
}