.button {
    padding: 21px 41px;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 100px;
    background: #FEDB3F;
    border-style: none;
    width: 156px;
    height: 60px;
}