.button {
    padding: 21px 41px;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    border-radius: 100px;
    background: $yellow;
    border-style: none;
    min-width: 156px;
    min-height: 60px;
}