.form__row {
    display: flex;
    justify-content: space-between; 
}

.form__row-payment {
    display: flex;
    justify-content: space-between;
    width: 336px;
    height: 30px;
    color: #fff;
}