.headline {
    margin-bottom: 17px;
    text-align: center;
}

.headline__title {
    margin-bottom: 17px;
}

.headline__subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
    width: 46%;
    line-height: 22px;
    color: $descTextColor;
}