.hero__title-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //height: 350px;
    width: 53%;
    //margin-bottom: 28px;
    border: 1px solid #fff;
}

.hero__main-title {
    //margin-bottom: 18px;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero__title-description {
    //margin-bottom: 39px;
    font-weight: 400;
    font-size: 21px;
}