.order-form {
    color: #fff;
    background: linear-gradient(rgba(43, 43, 43, 0.6)), url('./../../../images/order-form/cd318b28c9ca7b595ef1ba2ba8ffdac9.png') 50% / cover no-repeat;
}

.order-form__title {
    margin-bottom: 64px;
}