.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5.7%;
    padding-bottom: 5.7%;
    height: 100vh;
    min-height: 652px;
}

.section__title {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}