
.why__title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px auto 0 auto;
    padding-left: 6px;
    width: 515px;
    height: 120px;
}

.why__title-description {
    margin: 0 auto;
    width: 436px;
    height: 44px;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
