.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3px;
    padding-bottom: 12px;
    margin: 0 auto;
    width: 940px;
    height: 435px;
}
