.reviews__content__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 231px;
    height: 74px;
    margin: 0 auto 2px auto;

    li {
        list-style-type: none;
    }
}

.reviews__icon-item {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;

    &:first-child {
        margin-left: -5px;
    }
}