.reviews__content__top {
    display: flex;
    justify-content: start;
    width: 940px;
    height: 346px;
    align-items: center;
    background-color: $grayBg;
}

.reviews__avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    height: 346px;
}

.reviews__avatar {
    margin: 0 auto 4px auto;
    width: 253px;
    height: 264px;
}

.reviews__article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 480px;
    height: 264px;
}

.reviews__aticle__title {
    margin: 15px 0 -4px 0;
    width: 178px;
    height: 32px;
    line-height: 32.6px;
    font-size: 27px;
    font-weight: 700;
    color: $titlesFontsColor;
}

.reviews__text {
    margin: 0 0 0 2px;
    width: 463px;
    height: 110px;
    line-height: 21.6px;
    font-weight: 400;
    color: $descTextColor;
}

.reviews__author {
    margin: 0 0 0 4px;
    width: 178px;
    height: 49px;
    line-height: 28px;
    font-weight: 500;
    color: $titlesFontsColor;
}